extends layoutAnon

block content
  h2 Login
  br
  form(action='/seed', method='post')
    input(
      type='text'
      id='userName'
      name='UserName'
      placeholder='User Name'
    ) 

    input(
     type='password'
     id='passWord'
     name='PassWord'
     placeholder='Password'
	)

    div 
      span Job Seeker
      input(type='checkbox', name='Seeker')

    div 
      span Manager
      input(type='checkbox', name='Manager')

    br
    button.btn.btn-primary(type='submit') Sign in
    div 
      span Register
      input(type='checkbox', name='Register')
