doctype
html
	head
		meta(charset='utf-8')
		
		title #{title} - Job Hopper

		link(rel='stylesheet', type='text/css', href='/static/content/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/static/content/Styles.css')
		link(rel='stylesheet', type='text/css', href='/static/content/StylesSidebar.css')
		link(rel='stylesheet', type='text/css', href='/static/content/StylesNavbar.css')

	body
		.navbar.navbar-inverse.navbar-fixed-top.frogNav
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a.frogGreen(href='/jobSearch') Back

		.BodyContent(style='margin-top:75px; padding-left:5%; padding-right:5%; width:90%')
			.inline
				h2 #{jobTitle}
				a(href='/bookmark/#{jobIndex}') Bookmark
				br
				br
				h4 #{jobCompany}
				| , 
				h4 #{jobLoc}
				| , 
				h4 #{pay}
				br
				br
				a(href='#{applyTo}')
					span #{spanApply}
			br
			hr
			br
			h3 Description
			p #{jobDesc}

			.footer
				h3 Related Jobs

		.sidenav.frogNav(style='width:10%')
			a.frogGreen(href='/') Home
			a.frogGreen(href='/jobSearch') Search
			a.frogGreen(href='#') Graph
			a.frogGreen(href='#') Bookmarks