extends layoutSeeker

block content
	h2 Search for Jobs
	form(action='/jobFilter', method='post')
		span Select Search Field:
			select(name='colTitle')
				option(value='jobTitle') Title
				option(value='location') Location
				option(value='company') Company
				option(value='jobDes') Description
				option(value='skills') Skills
		
		input.frogGreenBorder(name='jobFullSearch', type='text', placeholder='Search...')
		button.btn.btn-primary.frogGreen(name='ClearSearch', type='reset', value='RESETSEARCHCODE') Clear
		//button.btn.btn-primary.frogGreen(name='ClearSearch', type='submit', value='CLEARSEARCH') Clear
		//button.btn.btn-primary.frogGreen(name='UpdateFilters', type='submit', value='UpdateFilters') Update
		
		//br
		//input.frogGreenBorder(style='margin:8px 0px', type='text', placeholder='Location', name='Location')
		//input.frogGreenBorder(style='margin:8px 0px', type='text', placeholder='Pay', name='Pay')
		
		//br
		//div(style='display:inline-block; margin:8px 0px; margin-right: 8px')
		//	span Full Time
		//	label.checkbox-label
		//		input(type="checkbox", value='Full', name='FullTime')
		//		span.checkbox-custom.rectangular.frogGreenBorder

		//div(style='display:inline-block; margin:8px 0px')
		//	span Part Time
		//	label.checkbox-label
		//		input(type="checkbox", value='Part', name='PartTime')
		//		span.checkbox-custom.rectangular.frogGreenBorder
		
		br
		span Active Filters: #{FiltersDesc}
	hr
	br

	.container
		.row
			.col
				//h1.display-4.mb-3 Infinite load
				#scroller.mb-3
					// template for each job post
					template#post_template
						.card.mb-3.animated.fadeIn.shadow-sm
							a#postLink(href='/')
								.card-body.jobPost
									h4#title.card-title
									h4#company.text-muted
									br
									span#location.text-muted
									span#pay.text-muted
							hr
							br
				// triggers the refresh
				#sentinel.d-flex.justify-content-center.mb-3
					.spinner-border(role='status')
					
	// associated js for the infinite scrolling
	script(src='/static/scripts/script.js')

	div.sidenav.frogNav
		label Filters
		form.SearchFilters(action='/jobFilter', method='post')
			input.frogGreenDarkBorder(style='margin-bottom:8px', type='text', placeholder='Location', name='Location')
			// input.frogGreenDarkBorder(style='margin-bottom:8px', type='number', placeholder='Distance', name='Distance')
			input.frogGreenDarkBorder(style='margin-bottom:8px', type='text', placeholder='Pay', name='Pay')
			
			div(style='display:flex; margin-bottom:8px')
				span Full Time
				label.checkbox-label
					input(type="checkbox", value='Full', name='FullTime')
					span.checkbox-custom.rectangular.frogGreenDarkBorder
	
			div(style='display:flex; margin-bottom:8px')
				span Part Time
				label.checkbox-label
					input(type="checkbox", value='Part', name='PartTime')
					span.checkbox-custom.rectangular.frogGreenDarkBorder
	
			button.btn.btn-primary.center.frogGreen(
				style='margin:0% 1%; border: 2px solid #6D9984!important;', 
				type='submit', 
				name='UpdateFilters', 
				value='UF') Update